@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Thin'), local('Exo2-Thin'), url('../fonts/exo2.0-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: optional;
}