.preloader
    .preloader__wrap
        .preloader__cube.preloader__cube--1
        .preloader__cube.preloader__cube--2
        .preloader__cube.preloader__cube--4
        .preloader__cube.preloader__cube--3
    span.preloader__caption Загружаем каталог...