extends ../layout/main

block variables
    - var title = 'Магазин нямушек для ваших котэ'

block content
    .container
        include ../modules/preloader
        include ../modules/greeting
        include ../modules/shop
        include ../modules/cart